@model FabricanteViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fabricantes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFabricante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFabricante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fundador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fundador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFundacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFundacao)
        </dd>
    </dl>
    
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Processadores.First().NomeProcessador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processadores.First().ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processadores.First().Cores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processadores.First().Threads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processadores.First().BaseFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processadores.First().LaunchDate)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Processadores) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProcessador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cores)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Threads)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseFrequency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaunchDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
