@using System.Linq
@model FabricanteIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Search</h1>
<form asp-action="Index">
    <label>Busca:</label>
    <input type="text" asp-for="@Model.Search" />
    <br />
    <label>Ordenação por Nome:</label>
    <select asp-for="OrderAscendant">
        <option value="@true">Ascendente</option>
        <option value="@false">Descendente</option>
    </select>
    <br />
    <button>Vai!</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

@{
    if (Model.Fabricantes == null || !Model.Fabricantes.Any())
    {
        <p>Nenhum fabricante cadastrado!</p>
        return;
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fabricantes.First().NomeFabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabricantes.First().Fundador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabricantes.First().PaisOrigem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabricantes.First().DataFundacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Fabricantes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFabricante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fundador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaisOrigem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFundacao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
